In [145]:
import pandas as pd
link='https://github.com/Myyn2304/pc2/raw/refs/heads/main/HDI.xlsx'
table=pd.read_excel(link, header=4)
table

,Unnamed: 0,Unnamed: 1,Human Development Index (HDI),Unnamed: 3,Life expectancy at birth,Unnamed: 5,Expected years of schooling,Unnamed: 7,Mean years of schooling,Unnamed: 9,Gross national income (GNI) per capita,Unnamed: 11,GNI per capita rank minus HDI rank,Unnamed: 13,HDI rank
0,HDI rank,Country,Value,NaN,(years),NaN,(years),NaN,(years),NaN,(2017 PPP $),NaN,NaN,NaN,NaN
1,NaN,NaN,2021,NaN,2021,NaN,2021,a,2021,a,2021,NaN,2021,b,2020
2,NaN,VERY HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,Switzerland,0.962,NaN,83.9872,NaN,16.500299,NaN,13.85966,NaN,66933.00454,NaN,5,NaN,3
4,2,Norway,0.961,NaN,83.2339,NaN,18.1852,c,13.00363,NaN,64660.10622,NaN,6,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,NaN,Column 2: UNDESA (2022a).,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,NaN,"Column 3: CEDLAS and World Bank (2022), ICF Ma...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,NaN,"Column 4: Barro and Lee (2018), ICF Macro Demo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,NaN,"Column 5: IMF (2022), UNDESA (2022b), United N...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,NaN,Column 6: Calculated based on data in columns ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [146]:
#las columnas de mi tabla, de las cuales solo me importan algunos
table.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Human Development Index (HDI) ',
       'Unnamed: 3', 'Life expectancy at birth', 'Unnamed: 5',
       'Expected years of schooling', 'Unnamed: 7', 'Mean years of schooling',
       'Unnamed: 9', 'Gross national income (GNI) per capita', 'Unnamed: 11',
       'GNI per capita rank minus HDI rank', 'Unnamed: 13', 'HDI rank'],
      dtype='object')

In [147]:
#quitar el espacio de los nombres cambiandolo por _ no sin antes str.strip() quita los espacios al
#inicio y final de cada nombre para que así no queden cosas como
#'Human_Development_Index_(HDI)_' sino 'Human_Development_Index_(HDI)'
table.columns=table.columns.str.strip().str.replace(r'\s+', '_', regex=True)
table.columns

Index(['Unnamed:_0', 'Unnamed:_1', 'Human_Development_Index_(HDI)',
       'Unnamed:_3', 'Life_expectancy_at_birth', 'Unnamed:_5',
       'Expected_years_of_schooling', 'Unnamed:_7', 'Mean_years_of_schooling',
       'Unnamed:_9', 'Gross_national_income_(GNI)_per_capita', 'Unnamed:_11',
       'GNI_per_capita_rank_minus_HDI_rank', 'Unnamed:_13', 'HDI_rank'],
      dtype='object')

In [148]:
#eliminar las columnas que no sirven y/o que no son necesarias y las dos primeras filas
toDrop=['Unnamed:_0','Unnamed:_3','Unnamed:_5','Unnamed:_7','Unnamed:_9','Unnamed:_11','Unnamed:_13','GNI_per_capita_rank_minus_HDI_rank', 'HDI_rank']
table.drop(columns=toDrop,inplace=True)
table.drop(index=[0,1], inplace=True)

In [149]:
#cambiar nombres a los requeridos
nombre2={'Unnamed:_1':'Country','Human_Development_Index_(HDI)':'Human_Development_Index','Gross_national_income_(GNI)_per_capita':'Gross_national_income_per_capita'}
table.rename(columns=nombre2,inplace=True)
table.columns

Index(['Country', 'Human_Development_Index', 'Life_expectancy_at_birth',
       'Expected_years_of_schooling', 'Mean_years_of_schooling',
       'Gross_national_income_per_capita'],
      dtype='object')

In [150]:
table

,Country,Human_Development_Index,Life_expectancy_at_birth,Expected_years_of_schooling,Mean_years_of_schooling,Gross_national_income_per_capita
2,VERY HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN
3,Switzerland,0.962,83.9872,16.500299,13.85966,66933.00454
4,Norway,0.961,83.2339,18.1852,13.00363,64660.10622
5,Iceland,0.959,82.6782,19.163059,13.76717,55782.04981
6,"Hong Kong, China (SAR)",0.952,85.4734,17.27817,12.22621,62606.8454
...,...,...,...,...,...,...
267,Column 2: UNDESA (2022a).,NaN,NaN,NaN,NaN,NaN
268,"Column 3: CEDLAS and World Bank (2022), ICF Ma...",NaN,NaN,NaN,NaN,NaN
269,"Column 4: Barro and Lee (2018), ICF Macro Demo...",NaN,NaN,NaN,NaN,NaN
270,"Column 5: IMF (2022), UNDESA (2022b), United N...",NaN,NaN,NaN,NaN,NaN
271,Column 6: Calculated based on data in columns ...,NaN,NaN,NaN,NaN,NaN

In [151]:
#comprobar si hay valores nan
table[table.isnull().any(axis=1)]

,Country,Human_Development_Index,Life_expectancy_at_birth,Expected_years_of_schooling,Mean_years_of_schooling,Gross_national_income_per_capita
2,VERY HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN
69,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN
119,MEDIUM HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN
164,LOW HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN
197,OTHER COUNTRIES OR TERRITORIES,NaN,NaN,NaN,NaN,NaN
202,NaN,NaN,NaN,NaN,NaN,NaN
203,Human development groups,NaN,NaN,NaN,NaN,NaN
208,NaN,NaN,NaN,NaN,NaN,NaN
210,NaN,NaN,NaN,NaN,NaN,NaN
211,Regions,NaN,NaN,NaN,NaN,NaN
218,NaN,NaN,NaN,NaN,NaN,NaN
221,NaN,NaN,NaN,NaN,NaN,NaN
223,NaN,NaN,NaN,NaN,NaN,NaN
225,NaN,NaN,NaN,NaN,NaN,NaN
226,Notes,NaN,NaN,NaN,NaN,NaN
227,a. Data refer to 2021 or the most recent year ...,NaN,NaN,NaN,NaN,NaN
228,b. Based on countries for which a Human Develo...,NaN,NaN,NaN,NaN,NaN
229,"c. In calculating the HDI value, expected year...",NaN,NaN,NaN,NaN,NaN
230,"d. In calculating the HDI value, life expectan...",NaN,NaN,NaN,NaN,NaN
231,e. Updated by HDRO based on data from UNESCO I...,NaN,NaN,NaN,NaN,NaN
232,"f. In calculating the HDI value, GNI per capit...",NaN,NaN,NaN,NaN,NaN
233,g. Updated by HDRO based on data from the Orga...,NaN,NaN,NaN,NaN,NaN
234,h. Estimated using the purchasing power parity...,NaN,NaN,NaN,NaN,NaN
235,i. Updated by HDRO based on data from OECD (20...,NaN,NaN,NaN,NaN,NaN
236,j. Based on data from the national statistical...,NaN,NaN,NaN,NaN,NaN
237,k. Estimated using the PPP rate of Spain.,NaN,NaN,NaN,NaN,NaN
238,l. Based on cross-country regression.,NaN,NaN,NaN,NaN,NaN
239,m. Updated by HDRO based on data from UNESCO I...,NaN,NaN,NaN,NaN,NaN
240,n. Updated by HDRO based on data from Barro an...,NaN,NaN,NaN,NaN,NaN
241,o. Updated by HDRO based on data from CEDLAS a...,NaN,NaN,NaN,NaN,NaN
242,p. Updated by HDRO based on data from the Unit...,NaN,NaN,NaN,NaN,NaN
243,q. HDRO estimate based on cross-country regres...,NaN,NaN,NaN,NaN,NaN
244,r. Updated by HDRO using projections from Barr...,NaN,NaN,NaN,NaN,NaN
245,s. Updated by HDRO based on data from UNICEF M...,NaN,NaN,NaN,NaN,NaN
246,t. IMF (2021) and UNDESA (2022b).,NaN,NaN,NaN,NaN,NaN
247,u. Updated by HDRO based on data from ICF Macr...,NaN,NaN,NaN,NaN,NaN
248,v. Based on projections from Barro and Lee (20...,NaN,NaN,NaN,NaN,NaN
249,w. Updated by HDRO based on data from ICF Macr...,NaN,NaN,NaN,NaN,NaN
250,x. HDRO estimate based on data from UNDESA (20...,NaN,NaN,NaN,NaN,NaN
251,y. HDRO estimate based on cross-country regres...,NaN,NaN,NaN,NaN,NaN
252,z. HDRO estimate based on data from IMF (2022)...,NaN,NaN,NaN,NaN,NaN
253,aa. HDRO estimate based on data from IMF (2022...,NaN,NaN,NaN,NaN,NaN
254,NaN,NaN,NaN,NaN,NaN,NaN
255,NaN,NaN,NaN,NaN,NaN,NaN
256,Definitions,NaN,NaN,NaN,NaN,NaN
257,Human Development Index (HDI): A composite ind...,NaN,NaN,NaN,NaN,NaN
258,Life expectancy at birth: Number of years a ne...,NaN,NaN,NaN,NaN,NaN
259,Expected years of schooling: Number of years o...,NaN,NaN,NaN,NaN,NaN
260,Mean years of schooling: Average number of yea...,NaN,NaN,NaN,NaN,NaN
261,Gross national income (GNI) per capita: Aggreg...,NaN,NaN,NaN,NaN,NaN
262,GNI per capita rank minus HDI rank: Difference...,NaN,NaN,NaN,NaN,NaN
263,HDI rank for 2020: Ranking by HDI value for 20...,NaN,NaN,NaN,NaN,NaN
264,NaN,NaN,NaN,NaN,NaN,NaN
265,Main data sources,NaN,NaN,NaN,NaN,NaN
266,Columns 1 and 7: HDRO calculations based on da...,NaN,NaN,NaN,NaN,NaN
267,Column 2: UNDESA (2022a).,NaN,NaN,NaN,NaN,NaN
268,"Column 3: CEDLAS and World Bank (2022), ICF Ma...",NaN,NaN,NaN,NaN,NaN
269,"Column 4: Barro and Lee (2018), ICF Macro Demo...",NaN,NaN,NaN,NaN,NaN
270,"Column 5: IMF (2022), UNDESA (2022b), United N...",NaN,NaN,NaN,NaN,NaN
271,Column 6: Calculated based on data in columns ...,NaN,NaN,NaN,NaN,NaN

In [152]:
#como si hay filas con nan, procedemos a borrarlas
table=table.dropna(axis='rows',how='any',ignore_index=True)
table

,Country,Human_Development_Index,Life_expectancy_at_birth,Expected_years_of_schooling,Mean_years_of_schooling,Gross_national_income_per_capita
0,Switzerland,0.962,83.9872,16.500299,13.85966,66933.00454
1,Norway,0.961,83.2339,18.1852,13.00363,64660.10622
2,Iceland,0.959,82.6782,19.163059,13.76717,55782.04981
3,"Hong Kong, China (SAR)",0.952,85.4734,17.27817,12.22621,62606.8454
4,Australia,0.951,84.5265,21.05459,12.72682,49238.43335
...,...,...,...,...,...,...
205,Sub-Saharan Africa,0.547,60.112467,10.267338,6.001639,3698.868914
206,Least developed countries,0.54,64.215856,10.182659,5.21532,2880.652487
207,Small island developing states,0.73,70.325547,12.422289,9.08964,16782.329527
208,Organisation for Economic Co-operation and Dev...,0.899,78.987605,16.459253,12.267755,45086.969067
209,World,0.732,71.365465,12.780907,8.617461,16752.082922

In [153]:
#eliminando todas las filas que no sean países (las filas de abajo de Somalia)
table = table.drop(index=range(195, 210))
table

,Country,Human_Development_Index,Life_expectancy_at_birth,Expected_years_of_schooling,Mean_years_of_schooling,Gross_national_income_per_capita
0,Switzerland,0.962,83.9872,16.500299,13.85966,66933.00454
1,Norway,0.961,83.2339,18.1852,13.00363,64660.10622
2,Iceland,0.959,82.6782,19.163059,13.76717,55782.04981
3,"Hong Kong, China (SAR)",0.952,85.4734,17.27817,12.22621,62606.8454
4,Australia,0.951,84.5265,21.05459,12.72682,49238.43335
...,...,...,...,...,...,...
190,South Sudan,0.385,54.9752,5.54251,5.72614,767.787
191,Korea (Democratic People's Rep. of),..,73.2845,10.78317,..,..
192,Monaco,..,85.9463,..,..,..
193,Nauru,..,63.617,11.69042,..,17729.74084
194,Somalia,..,55.2803,..,..,1017.96785

In [155]:
#qué tipo de dato es cada columna
table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country                           195 non-null    object
 1   Human_Development_Index           195 non-null    object
 2   Life_expectancy_at_birth          195 non-null    object
 3   Expected_years_of_schooling       195 non-null    object
 4   Mean_years_of_schooling           195 non-null    object
 5   Gross_national_income_per_capita  195 non-null    object
dtypes: object(6)
memory usage: 9.3+ KB

In [156]:
# se observa que el unico problema son los ".." de los ultimos 4 paises
pd.unique(table.Human_Development_Index[~table.Human_Development_Index.astype(str).str.contains(r'\d+\.\d+', regex=True)])

array(['..'], dtype=object)

In [157]:
# en esta columna todos los valores encajan con valores numéricos
pd.unique(table.Life_expectancy_at_birth[~table.Life_expectancy_at_birth.astype(str).str.contains(r'\d+\.\d+', regex=True)])

array([], dtype=object)

In [158]:
# se observa que el unico problema son los ".." de los ultimos 4 paises
pd.unique(table.Expected_years_of_schooling[~table.Expected_years_of_schooling.astype(str).str.contains(r'\d+\.\d+', regex=True)])

array(['..'], dtype=object)

In [159]:
# se observa que el unico problema son los ".." de los ultimos 4 paises
pd.unique(table.Mean_years_of_schooling[~table.Mean_years_of_schooling.astype(str).str.contains(r'\d+\.\d+', regex=True)])

array(['..'], dtype=object)

In [160]:
# se observa que el unico problema son los ".." de los ultimos 4 paises
pd.unique(table.Gross_national_income_per_capita[~table.Gross_national_income_per_capita.astype(str).str.contains(r'\d+\.\d+', regex=True)])

array(['..'], dtype=object)

In [161]:
#transformar todos los valores a numeros en las tablas, se espera que los NaN esten en los ultimos 4 paises
table.Human_Development_Index=pd.to_numeric(table.Human_Development_Index,errors='coerce')
table.Life_expectancy_at_birth=pd.to_numeric(table.Life_expectancy_at_birth,errors='coerce')
table.Expected_years_of_schooling=pd.to_numeric(table.Expected_years_of_schooling,errors='coerce')
table.Mean_years_of_schooling=pd.to_numeric(table.Mean_years_of_schooling,errors='coerce')
table.Gross_national_income_per_capita=pd.to_numeric(table.Gross_national_income_per_capita,errors='coerce')
table

,Country,Human_Development_Index,Life_expectancy_at_birth,Expected_years_of_schooling,Mean_years_of_schooling,Gross_national_income_per_capita
0,Switzerland,0.962,83.9872,16.500299,13.85966,66933.00454
1,Norway,0.961,83.2339,18.185200,13.00363,64660.10622
2,Iceland,0.959,82.6782,19.163059,13.76717,55782.04981
3,"Hong Kong, China (SAR)",0.952,85.4734,17.278170,12.22621,62606.84540
4,Australia,0.951,84.5265,21.054590,12.72682,49238.43335
...,...,...,...,...,...,...
190,South Sudan,0.385,54.9752,5.542510,5.72614,767.78700
191,Korea (Democratic People's Rep. of),NaN,73.2845,10.783170,NaN,NaN
192,Monaco,NaN,85.9463,NaN,NaN,NaN
193,Nauru,NaN,63.6170,11.690420,NaN,17729.74084
194,Somalia,NaN,55.2803,NaN,NaN,1017.96785

In [162]:
#se observa que ahora todos son numeros
table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country                           195 non-null    object
 1   Human_Development_Index           191 non-null    float64
 2   Life_expectancy_at_birth          195 non-null    float64
 3   Expected_years_of_schooling       193 non-null    float64
 4   Mean_years_of_schooling           191 non-null    float64
 5   Gross_national_income_per_capita  193 non-null    float64
dtypes: float64(5), object(1)
memory usage: 9.3+ KB

In [163]:
#creando la nueva categoria para clasificarlos en base a HDI
table['Category']=pd.cut(table.Human_Development_Index,
                           bins=[0,0.549,0.699,0.796,0.962],
                           labels=['LOW HUMAN DEVELOPMENT','MEDIUM HUMAN DEVELOPMENT','HIGH HUMAN DEVELOPMENT','VERY HIGH HUMAN DEVELOPMENT'],
                           ordered=True)
table

,Country,Human_Development_Index,Life_expectancy_at_birth,Expected_years_of_schooling,Mean_years_of_schooling,Gross_national_income_per_capita,Category
0,Switzerland,0.962,83.9872,16.500299,13.85966,66933.00454,VERY HIGH HUMAN DEVELOPMENT
1,Norway,0.961,83.2339,18.185200,13.00363,64660.10622,VERY HIGH HUMAN DEVELOPMENT
2,Iceland,0.959,82.6782,19.163059,13.76717,55782.04981,VERY HIGH HUMAN DEVELOPMENT
3,"Hong Kong, China (SAR)",0.952,85.4734,17.278170,12.22621,62606.84540,VERY HIGH HUMAN DEVELOPMENT
4,Australia,0.951,84.5265,21.054590,12.72682,49238.43335,VERY HIGH HUMAN DEVELOPMENT
...,...,...,...,...,...,...,...
190,South Sudan,0.385,54.9752,5.542510,5.72614,767.78700,LOW HUMAN DEVELOPMENT
191,Korea (Democratic People's Rep. of),NaN,73.2845,10.783170,NaN,NaN,NaN
192,Monaco,NaN,85.9463,NaN,NaN,NaN,NaN
193,Nauru,NaN,63.6170,11.690420,NaN,17729.74084,NaN
194,Somalia,NaN,55.2803,NaN,NaN,1017.96785,NaN

In [164]:
#si se desea retirar las finas de los ultimos 4 países por contener NaN se puede realizar con:
#table = table.drop(index=range(191, 194))
#O
#table=table.dropna(axis='rows',how='any',ignore_index=True)

In [167]:
#por si algún país no tiene mayúscula
table['Country']=table.Country.str.title()
table

,Country,Human_Development_Index,Life_expectancy_at_birth,Expected_years_of_schooling,Mean_years_of_schooling,Gross_national_income_per_capita,Category
0,Switzerland,0.962,83.9872,16.500299,13.85966,66933.00454,VERY HIGH HUMAN DEVELOPMENT
1,Norway,0.961,83.2339,18.185200,13.00363,64660.10622,VERY HIGH HUMAN DEVELOPMENT
2,Iceland,0.959,82.6782,19.163059,13.76717,55782.04981,VERY HIGH HUMAN DEVELOPMENT
3,"Hong Kong, China (Sar)",0.952,85.4734,17.278170,12.22621,62606.84540,VERY HIGH HUMAN DEVELOPMENT
4,Australia,0.951,84.5265,21.054590,12.72682,49238.43335,VERY HIGH HUMAN DEVELOPMENT
...,...,...,...,...,...,...,...
190,South Sudan,0.385,54.9752,5.542510,5.72614,767.78700,LOW HUMAN DEVELOPMENT
191,Korea (Democratic People'S Rep. Of),NaN,73.2845,10.783170,NaN,NaN,NaN
192,Monaco,NaN,85.9463,NaN,NaN,NaN,NaN
193,Nauru,NaN,63.6170,11.690420,NaN,17729.74084,NaN
194,Somalia,NaN,55.2803,NaN,NaN,1017.96785,NaN

In [170]:
#por sea caso en formato pickle, que es más eficiente al guardar datos tipo categorico
table.to_pickle("table.pkl")

In [173]:
#se observa se mantiene el tipo categorico
dfPickle=pd.read_pickle("table.pkl")
dfPickle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 7 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country                           195 non-null    object
 1   Human_Development_Index           191 non-null    float64
 2   Life_expectancy_at_birth          195 non-null    float64
 3   Expected_years_of_schooling       193 non-null    float64
 4   Mean_years_of_schooling           191 non-null    float64
 5   Gross_national_income_per_capita  193 non-null    float64
 6   Category                          191 non-null    category
dtypes: category(1), float64(5), object(1)
memory usage: 9.5+ KB

In [175]:
#producto final
table

,Country,Human_Development_Index,Life_expectancy_at_birth,Expected_years_of_schooling,Mean_years_of_schooling,Gross_national_income_per_capita,Category
0,Switzerland,0.962,83.9872,16.500299,13.85966,66933.00454,VERY HIGH HUMAN DEVELOPMENT
1,Norway,0.961,83.2339,18.185200,13.00363,64660.10622,VERY HIGH HUMAN DEVELOPMENT
2,Iceland,0.959,82.6782,19.163059,13.76717,55782.04981,VERY HIGH HUMAN DEVELOPMENT
3,"Hong Kong, China (Sar)",0.952,85.4734,17.278170,12.22621,62606.84540,VERY HIGH HUMAN DEVELOPMENT
4,Australia,0.951,84.5265,21.054590,12.72682,49238.43335,VERY HIGH HUMAN DEVELOPMENT
...,...,...,...,...,...,...,...
190,South Sudan,0.385,54.9752,5.542510,5.72614,767.78700,LOW HUMAN DEVELOPMENT
191,Korea (Democratic People'S Rep. Of),NaN,73.2845,10.783170,NaN,NaN,NaN
192,Monaco,NaN,85.9463,NaN,NaN,NaN,NaN
193,Nauru,NaN,63.6170,11.690420,NaN,17729.74084,NaN
194,Somalia,NaN,55.2803,NaN,NaN,1017.96785,NaN